<div class="container">
    <h3 class="d-flex justify-content-center">Angular 8 Demo</h3>
    <h5 class="d-flex justify-content-center">Employee Management Portal</h5>
    
    <nav class="navbar navbar-expand-sm bg-light navbark-dark">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button 
          routerLink="registration"
          class="m-1 btn btn-light btn-outline-primary" Button
          label = "RegScreen"
         >
          Registration
        </button>
        </li>
        <li class="nav-item">
          <button 
          routerLink="login"
          class="m-1 btn btn-light btn-outline-primary" Button
          label = "LoginScreen"
          >
          Login
        </button>
        </li>
      </ul>
    
    </nav>
    
    <router-outlet></router-outlet>
    
    
    </div>